<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://<environmentName>.crm4.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="out" value="../ts/src/code/typings/XRM" />
    <add key="entities" value="account, contact" />
    <add key="mfaAppId" value="<App ID>" />
    <add key="mfaClientSecret" value="<Client Secret>" />
    <add key="method" value="ClientSecret" />
  </appSettings>
</configuration>